<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script type="text/javascript" src="music.js"></script>
  <title>シンガーソングランナー</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="bg-image">
    <div class="main-content" onclick="autoscroll()">
      <div class="content-runner">
        <p class="content-body">
          雨を避けたロッカールームで<br>
          君はすこし うつむいて<br>
          もう戻れはしないだろうといったね<br><br>
          瞳の中 風を宿した<br>
          悲しいほど 誠実な<br>
          君に何を いえばよかったのだろう<br><br>
          かげりのない少年の<br>
          季節は すぎさってく<br>
          風はいつも 強く吹いてる<br><br>
          走る走る 俺たち<br>
          流れる 汗もそのままに<br>
          いつかたどり 着いたら<br>
          君に うちあけられるだろ
        </p>
      </div><div class="content-ultrasoul">
        <p class="content-body">
          ♪〜
        </p>
      </div>
    </div>
  </div>
  <script src="scroll.js"></script>
  <script src="client.js"></script>
</body>
</html>
